@CHARSET "UTF-8";

* {
	margin: 0;
	padding: 0;
}
article{
	width: 1900px;
}
.clear {
	clear: both;
}

.wrap {
/* 	border: 1px solid red; */
	/* position: relative; */
}

.container {
	min-height: 650px;
    padding: 100px;
}

.subject {
/* 	border: 1px solid orange; */
	width: 1100px;
	padding: 20px;
	margin: 50px auto 30px;
}

.notice {
/* 	border: 1px solid purple; */
	width: 1100px;
	margin: 0 auto;
	padding: 20px;
}

.subject h1 {
	color: #333;
}

.jemok {
/* 	border: 1px solid red; */
	color: #333;
	font-size: 20px;
	font-weight: bold;
	height: 60px;
	line-height: 60px;
	cursor: pointer;
}

.jemok:HOVER {
	color: #ff8000;
}

.naeyong {
/* 	border: 1px solid blue; */
	font-size: 18px;
	padding: 5px;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 1000px;
	line-height: 2em;
}

.notice table th a {
	text-decoration: none;
	color: #333;
	font-size: 20px;
}

.notice table {
	height: 60px;
}

.chat {
	position: fixed;
	right: 20px;
	bottom: 0;
}

.chat input {
	background-color: #50d4aa;
	width: 180px;
	height: 60px;
	border-radius: 20px 20px 0 0;
	font-size: 22px;
	text-align: center;
	line-height: 60px;
	color: #333;
}

.chat input:HOVER {
	opacity: 0.8;
	cursor: pointer;
}

/***************************************/

.terms_h1 {
/* 	border: 1px solid red; */
	text-align: center;
	padding: 20px;
	color: #333;
}

.terms_hr {
	margin: 20px 0;
}

.terms_div {
	font-size: 14px;
	padding: 15px;
	line-height: 1.8em;
	color: #333;
}









