@CHARSET "UTF-8";
.clear {
	clear: both;
}

/*전체 설정*/
*{
	margin:0;
	padding:0;
	/* font-family: 'Nanum Gothic', sans-serif; */
}

/*아티클 전체 설정*/

/* article{
	border:1px solid red;
	position:relative;
	top:80px;
	
} */

/* article.main1{
	border:1px solid window;  
	position:relative;
	top:10px;
	height:5000px;
	width: 1900px;
	position: relative;
    top: 100px;
    left: 0px; 
}
article.main2{
    border: 1px solid window;
    height: 1800px;
    width: 1900px;
    position: relative;
    top: 100px;
    left: 0px;
} */

article.main{
	/* border:1px solid window;   */
	height:auto;
	width: 1900px;
	position: relative; 
    top: 100px;
    left: 0px; 
    /* margin-bottom: -110px; */
}

/* main상단 좌측 */
.mainMovie{
	/* border:1px solid red; */ 
	height: 800px;
	width:1900px;
	position: relative;
	top:-50px;
	/* margin-bottom: 30px; */
	overflow: hidden;	
	box-sizing:border-box;
	padding: 30px;	
/* 	background: -moz-linear-gradient((#607D8B,white);
	background: -webkit-linear-gradient(#607D8B, white);
	background: -o-linear-gradient(#607D8B, white);
	background: -ms-linear-gradient(#607D8B, white);For IE10 */
	/* background: linear-gradient(#455a64bd, white); */
	background: linear-gradient(#607D8B, white);
} 

.mainCoverTitle{
	border-bottom: 4px solid #ff8800;
    width: 1310px;
    display: inline-block;
    position: relative;
    left: 100px;
    top: 30px;
    font-size: 2em;
    /* font-weight: bold; */
    color: #32353b;
    letter-spacing: 2px;
    background: linear-gradient(90deg, #ffffff, transparent);
    background: -ms-linear-gradient(#455a64bd, white);
    padding: 8px;
    font-family: sans-serif;
}
.mainCover{
	/* border:1px solid blue;  */
	position: relative;
    left: 80px;
    top: 15px;
	height: 660px;
	width:1370px;
	box-sizing:border-box;
	padding: 20px;
	text-align: center;
	/* margin: 0 auto; */
}

.mainPicBack{
	/* border: 1px solid red; */
	background: linear-gradient(#90a4af, white);
	float:left;
	width:430px;
	height:660px; 
	position: relative;
	text-align: center;
	padding: 5px;
	margin-right: 3px;
}
.mainPic{
	/* float: left; */
    /* border: 1px solid #eee; */
    width: 430px;
    /* height: auto; */
    position: relative;
    text-align: center;
    /* padding: 10px 0px 10px 0px; */
    padding-top: 10px;
}

.mainPic img{
	
	display: inline-block;
	/* box-shadow:2px 2px #c0c0c0; */
	position: relative;
}

#mainPos{
	border:1px solid #c0c0c0;
	width:400px;
	height: 580px; 
}	

.mainPic:HOVER #mainPos{
	opacity: 0.8;
}

#play img{
	border:none;
	display:none; 
	width:100px; height: 100px;
	position: absolute;
	top: 230px;
    left: 160px;
}
.mainPic:HOVER #play img{
	display: inline-block;
} 

.mainPos a{text-decoration: none;}
.mainPos a p{margin-top: 10px; line-height: 1.9em;}
.mainPos a:LINK, .mainPos a:VISITED{color:#333;}
#mainPosTitle{font-size: 1.4em; font-weight: bold;}
#mainPosTitle:HOVER{color:#ff8800;}


/* 플레이 버튼 누르면 나오는 예고편 */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 1000px;
    text-align:center;
}

/* The Close Button */.
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
} 
/* main상단 좌측*/


/* main상단 우측*/
.chart,.sheep,.totalRv{
	/* border: 1px solid #c3c3c3; */
	color:white;
	border-radius:10px;
	padding:10px 5px 15px 5px;
	width:300px;
	text-align: center;
	margin:0 auto;
	font-size: 1em;	
	box-sizing:border-box;
	line-height: 1.4em;
	display: inline-block;
}

.chart{
	height: 440px;
    background-color: #393939;
    position: relative;
     bottom: 730px;
    left: 1490px;
}
#chartTitle{
	font-size: 1.2em;
	padding: 10px;
	margin-bottom: 10px;
}
#rank{margin-top: 20px;}
#rank a p{
	border-top: 1px solid white;
	padding: 10px;
	margin: 0; 
}
#rank a p:HOVER{
	background-color: #ff8800;
}
#rank a{
	color:white;
	text-decoration: none;
}
#rank a:LINK, #rank a:VISITED{
	color:white;
}
.totalRv{
	background-color: #50a4aa;
    position: relative;
    bottom: 650px;
    left: 1185px;
}
.sheep{
	height: 100px;
    background-color: #455a64;
    position: relative;
    bottom: 525px;
    left: 880px;
}
.sheep div{
	/* border:1px solid red; */
	float:left;
	line-height: 80px;
}
.sheep div:nth-of-type(1){
	margin-left: 20px;
}
.sheep a{
	text-decoration: none;
	color: white;
}
.sheep a:LINK, .sheep a:VISITED{
	color:white;
}
.sheep a:HOVER{
	color:#ff8800;
}


/* main상단 우측 */




/*=============================================*/



.containerWithBtn{
	border:1px solid white;  
	position: relative;
    bottom: 430px;
}

/*슬라이더 컨테이너 설정*/
.container{/* border:1px solid orange; */ 
	height:280px;
	/* width:auto; */
	margin: 45px auto;
	overflow: hidden; 	
	position: relative;
}

#title{
	position: relative;
    bottom: -5px;
}


/*슬라이더 제목*/
.container h2{
	/* border:1px solid red; */
	padding-bottom: 20px;
	height:30px;
	/* font-family: sans-serif; */
	/* border:1px solid red; */
	/* background: linear-gradient(30deg,#009AAC 70%,transparent); */
	/* background-color: #009AAC; */
	padding:10px;
	margin-bottom: 5px;
	color:#333;
	line-height: 1.5em;
}

.container h2 img{
	position: relative;
    top: 10px;
    right: 10px;
}

/*슬라이더*/
.slider{/* border:1px solid blue; */
	/* overflow: hidden;  */
	/* 	width:1000px;  */
	/* height:250px; */
	position: relative;
	/* box-sizing:border-box; */
	padding:0;
	/* padding-left: 200px; */
}

/*영화 Box*/
.mv {
	/* border:2px solid #008000;  */
/* 	width: 200px;  */
	height: 250px;
	float: left;
	overflow:hidden;
	box-sizing:border-box;
	overflow: hidden; 
	margin-right: 5px;
	/* box-shadow:5px 5px #a0a0a0; */
	position: relative;
	/* transition: .2s; */
}
.mv>img {
	position:relative;
	top:-50px;
	left: -110px;
/* 	height: 100%;
	width: auto; */
}

/*영화 제목*/
.mv_title{
	position: absolute;
	top:180px; left:10px;
	font-weight: bold;
	font-size: 1.2em;
	color:white;
	text-shadow: 1px 1px #808080;
}

/*년도, 등급, 러닝타임, 주연 정보 : 마우스 오버 전에는 보이지 않음*/
.mv_year, .mv_grade, .mv_time, .mv_synop{
	display: none;
}

/*이전 다음 버튼 디자인*/
.button{ /* border: 1px solid red;  */
	background-color: transparent;
	margin:0;
	padding:0;
	width: 60px;
	height: 60px;
	display: inline;
	box-shadow:none;
	box-sizing:border-box;	
} 
button>img{
	opacity:0.5;
}
.button img:HOVER {
	opacity:0.3;
/* 	width: 70px;
	height: 70px; */
}


.prev1,.prev2,.prev3,.prev4,.prev5{
	position:absolute;
	top:180px; left:80px;
}
.next1,.next2,.next3,.next4,.next5{
	position:absolute;
	top:180px; right: 80px;
}

/**이전 다음 버튼 디자인 끝**/



/*영화 스틸컷 마우스 오버 시*/
/* .mv:FIRST-CHILD:HOVER{
	transform: scale(1.3);
	width:344px;
	height: 300px; 
	overflow: hidden;
	display: inline-block;
	margin-right:20px;
	margin-left:20px;
	position: relative;
	top:-20px; left:50px;
	z-index: 1;
	transition: 0.3s;
}

.mv:LAST-CHILD:HOVER{
	border:1px solid red;
	transform: scale(1.5);
	width:344px;
	height: 300px; 
	overflow: hidden;
	display: inline-block;
	margin:0 250px 0 250px;
	position: relative;
	top:0px; right:0px;
	z-index: 1;
	transition: 0.1s;
} */
 


.mv:HOVER{
	/* border:1px solid red;  */
	transform: scale(1.5); 
	/* width:344px;*/
	/* width:200px;
	height: 300px;  */ 
	overflow: hidden;
	display: inline-block;
	margin-right:90px;
	margin-left:90px;
	position: relative;
	top:0px; right:0px;
	transition: 0.1s; 
	z-index: 1;
} 

.mv:HOVER .mv_title{
	position:absolute;
	top:100px; left: 15px;
}

.mv:HOVER .mv_year{
	display:block;
	position: absolute;
	top:125px; left:15px;	
	font-weight: bold;
	font-size: 0.7em;
	color:white;
	text-shadow: 1px 1px #808080;
}

.mv:HOVER .mv_grade{
	border:1px solid white;
	padding: 0px 1px 1px 1px;
	display:block;
	position: absolute;
	top:145px; left:15px;	
	font-weight: bold;
	font-size: 0.6em;
	color:white;
	text-shadow: 1px 1px #808080;
	box-sizing:border-box;
}

.mv:HOVER .mv_time{
	display:block;
	position: absolute;
	top:162px; left:15px;	
	font-weight: bold;
	font-size: 0.7em;
	color:white;
	text-shadow: 1px 1px #808080;
}

/*  팝업 css */
#popp27 { position: absolute; width:400px; height:400px; top:40%; left:50%; margin-top:-250px; margin-left:-390px; background:#000000; z-index:10000;display:none;}
#popp27 .cont {width:400px; height:400px;}
#popp27 .close {width:390px; height:30px; background:#dbdbdb; line-height:30px; padding-left:10px; font-size:13px;}
#popp27 .close #close {float:right; margin-right:10px; cursor:pointer;}

