@CHARSET "UTF-8";
.clear {
	clear: both;
}

/*전체 설정*/
*{
	margin:0;
	padding:0;
	font-family: 'Nanum Gothic', sans-serif;
}

/*아티클 전체 설정*/

/* article{
	border:1px solid red;
	position:relative;
	top:80px;
	
} */
article.main1{
	border:1px solid window;  
	/* position:relative;
	top:10px; */
	height:1800px;
	width: auto;
	padding-top:50px;
	padding-bottom: 500px; 
}
article.main2{
	border:1px solid window;  
	/* position:relative;
	top:10px;  */
	height:1500px;
	width: auto;
	padding-top:55px;
	/* padding-bottom: 00px;  */
}

.containerWithBtn{
	border:1px solid white;  
	position: relative;
}

/*슬라이더 컨테이너 설정*/
.container{/* border:1px solid orange; */ 
	height:280px;
	/* width:auto; */
	margin: 80px auto;
	overflow: hidden; 	
	position: relative;
}

/*슬라이더 제목*/
.container h2{/* border:1px solid red; */
	padding-bottom: 20px;
	font-family: sans-serif;
}

/*슬라이더*/
.slider{/* border:1px solid blue; */
	/* overflow: hidden;  */
	/* 	width:1000px;  */
	/* height:250px; */
	position: relative;
	/* box-sizing:border-box; */
	padding:0;
}

/*영화 Box*/
.mv {
	/* border:2px solid #008000; */
/* 	width: 200px;  */
	height: 250px;
	float: left;
	overflow:hidden;
	box-sizing:border-box;
	overflow: hidden; 
	margin-right: 5px;
	/* box-shadow:5px 5px #a0a0a0; */
	position: relative;
}
.mv>img {
	position:relative;
	top:-50px;
	left: -110px;	
/* 	height: 100%;
	width: auto; */
}

/*영화 제목*/
.mv_title{
	position: absolute;
	top:180px; left:10px;
	font-weight: bold;
	font-size: 1.2em;
	color:white;
	text-shadow: 1px 1px #808080;
}

/*년도, 등급, 러닝타임, 주연 정보 : 마우스 오버 전에는 보이지 않음*/
.mv_year, .mv_grade, .mv_time, .mv_synop{
	display: none;
}

/*이전 다음 버튼 디자인*/
.button{ /* border: 1px solid red;  */
	background-color: transparent;
	margin:0;
	padding:0;
	width: 60px;
	height: 60px;
	display: inline;
	box-shadow:none;
	box-sizing:border-box;	
} 
.button>img{
	opacity:0.5;
}




/**이전 다음 버튼 제어**/
.prev1{
	position:absolute;
	top:200px; left:0px;
}
.next1{
	position:absolute;
	top:200px; right: 0px;
}

.prev2{
	position:absolute;
	top:200px; left:0px;
}
.next2{
	position:absolute;
	top:200px; right: 0px;
}

.prev3{
	position:absolute;
	top:200px; left:0px;
}
.next3{
	position:absolute;
	top:200px; right: 0px;
}

.prev4{
	position:absolute;
	top:200px; left:0px;
}
.next4{
	position:absolute;
	top:200px; right: 0px;
}

.prev5{
	/* border:1px solid red; */
	position:absolute;
	top:200px; left:0px;
}
.next5{
	/* border:1px solid red; */
	position:absolute;
	top:200px; right: 0px;
}


.button img:HOVER {
	opacity:1;
	width: 70px;
	height: 70px;
}
/**이전 다음 버튼 제어 끝**/



/*영화 스틸컷 마우스 오버 시*/
.mv:FIRST-CHILD:HOVER{
	transform: scale(1.3);
	/* width:344px;*/
	height: 300px; 
	overflow: hidden;
	display: inline-block;
	/* margin:0 250px 0 250px; */
	position: relative;
	top:-20px; left:50px;
	z-index: 5;
}

.mv:LAST-CHILD:HOVER{
	transform: scale(1.3);
	/* width:344px;*/
	height: 300px; 
	overflow: hidden;
	display: inline-block;
	/* margin:0 250px 0 250px; */
	position: relative;
	top:-20px; right:100px;
	z-index: 5;
}


.mv:HOVER{
	/* border:1px solid red; */
	transform: scale(1.3);
	/* width:344px;*/
	height: 300px; 
	overflow: hidden;
	display: inline-block;
	/* margin:0 250px 0 250px; */
	position: absolute;
	top:-50px; right:200px;
	z-index: 5;
} 
.mv:HOVER .mv_title{
	position:absolute;
	top:130px; left: 15px;
}

.mv:HOVER .mv_year{
	display:block;
	position: absolute;
	top:155px; left:15px;	
	font-weight: bold;
	font-size: 0.7em;
	color:white;
	text-shadow: 1px 1px #808080;
}

.mv:HOVER .mv_grade{
	border:1px solid white;
	padding: 0px 1px 1px 1px;
	display:block;
	position: absolute;
	top:175px; left:15px;	
	font-weight: bold;
	font-size: 0.6em;
	color:white;
	text-shadow: 1px 1px #808080;
	box-sizing:border-box;
}

.mv:HOVER .mv_time{
	display:block;
	position: absolute;
	top:192px; left:15px;	
	font-weight: bold;
	font-size: 0.7em;
	color:white;
	text-shadow: 1px 1px #808080;
}

/*  팝업 css */
#popp27 { position: absolute; width:400px; height:400px; top:40%; left:50%; margin-top:-250px; margin-left:-390px; background:#000000; z-index:10000;display:none;}
#popp27 .cont {width:400px; height:400px;}
#popp27 .close {width:390px; height:30px; background:#dbdbdb; line-height:30px; padding-left:10px; font-size:13px;}
#popp27 .close #close {float:right; margin-right:10px; cursor:pointer;}

