@charset "UTF-8";
* {
	margin: 0;
	padding: 0;
}
.clear {
	clear: both;
}

body {
	background-color: #000;
/* 	background-image: url("../images/m_cover.jpg"); */
	background-image: url("../images/m_cover2.jpg");
	background-repeat: none;
	background-size: cover;
}

div.logo img {
	width: 180px;
	height: 40px;
	position: absolute;
	top: 2%;
	left: 2%;
}

div.nav_r {
	background-color: #ff8800;
	width: 100px;
	height: 40px;
	float: right;
	position: absolute;
	top: 2%;
	right: 2%;
	text-align: center;
	line-height: 40px;
	border-radius: 10px;
	border:2px solid transparent;
	letter-spacing: 2px;
}
div.nav_r:HOVER{
	border:2px solid #ddd;
}

div.nav_r a {
	text-decoration: none;
	color: #fff;
	letter-spacing: 0.2px;
}

.div_01 {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
}

.div_01_join {
	position: absolute;
    top: 50%;
    left: 53%;
    transform: translate(-50%, -50%);
    height: 520px;
    width: 450px;
}

.div_02 {
	padding: 5px;
	margin: 20px 0;
	color: #fff;
}

.div_02 span, .div_02 a, p {
	padding: 5px;
	margin-bottom: 20px;
	font-weight: bold;
	font-size: 18px;
	letter-spacing: 0.5px;
}
.find_pass {
	margin-left: 125px;
	text-decoration: none;
	color: #fff;
	font-size: 12px;
}
.find_pass:HOVER{
	text-shadow:2px 2px #333;
}

form input.text {
	width: 290px;
    height: 40px;
    margin-bottom: 10px;
    margin-left: 20px;
    padding-left: 10px;
}


form input.id_save {
	width: 30px;
	height: 15px;
	margin-left: 20px;
}

form input.btn {
	border: 1px solid #999;
    background-color: #ffffff;
    border-radius: 20px;
    font-size: 0.7em;
    width: 110px;
    height: 30px;
    margin-bottom: 10px;
    /* margin-left: 80px; */
    cursor: pointer;
}
form input.btn:HOVER{
	border: 1px solid #ff8800;
}
form span {
	font-size: 14px;
/* 	font-weight: bold; */
	color: #fff;
	letter-spacing: 0.5px;
	text-shadow: 1px 1px #333;
}

input.check {
	margin-bottom: 14px;
	margin-left: 20px;
}

.use {
	text-decoration: none;
	font-weight: bold;
	color: #fff;
	cursor: pointer;
}

.find_txt {
	margin-left: 30px;
}

.find_text {
	width: 300px;
	height: 40px;
	margin-top: 20px;
	margin-bottom: 10px;
	margin-left: 30px;
}

p {
	padding: 5px;
	margin-left: 30px;
	margin-bottom: 10px;
	font-size: 12px;
	letter-spacing: 0.2px;
	line-height: 20px;
	width: 290px;
	text-shadow:1px 1px #333;
}

/* label { */
/* 	display:inline-block; */
/* 	width:100px; */
/* 	color:#36a; */
/* 	font-weight: bold; */
/* 	text-transform: uppercase; */
/* 	text-align: right;	 오른쪽정렬 */
/* 	padding:0.5em 0.8em; */
/* } */

#submit {
	background-color: #50a4aa;
	border-radius: 10px;
	padding:2px;
	width:250px; 
	height:50px;
	margin:20px 45px;
	border: 2px solid #999;
	cursor: pointer;
	font-size: 18px;
	letter-spacing: 5px;
	color:white;
}

#submit:HOVER {
	border: 2px solid #ddd;
}
