@CHARSET "UTF-8";

*{
	padding: 0;
	margin: 0;
	font-family: 'Nanum Gothic', sans-serif;}

.clear {clear: both;}

body{
	height: auto;
}

article{
	/* border:1px solid red; */
	padding:50px;
}
.all{
	border: 1px solid #e8e8e8;
	background-color:#e8e8e8;
	border-radius:30px;
	width: 1000px;
/* 	width: 1100px; */
	margin:50px auto;
	margin-bottom:200px;
	box-shadow: 2px 2px #9f9f9f;
	padding:50px 70px;
}

.sec{
	border:1px solid #9f9f9f;
	background-color:white;
	border-radius:10px;
	margin: 20px auto;
	padding:20px;
}

.sec div{
	/* float:left; */
}


.myInfo{
	box-sizing:border-box;
	height: 400px;
}
#profile{
	text-align: center;
	font-weight: bold;
	font-size: 1.4em;
	position: relative;
	top:30px; left: -250px;
	line-height: 1.7em;
}
#info{
	font-size:1.2em;
	border:1px solid #333;
	text-align: center;
	width:500px;
	position: relative;
	top:-300px; left: 550px;
	line-height: 1.7em;
	text-align: center;
}

#info table{
	text-align: center;
}
#info table tr th{
	padding:5px 20px 5px 20px;
}

.secInfo {
	font-size: 1.2em;
	font-weight: bold;
	position: relative;
	top:30px; left: 50px;
	/* float:left; */
}

.secInfo a{
	position:relative;
	top:-20px; left:750px;
	text-decoration: none;
}
.secInfo a:LINK, .secInfo a:VISITED{
	color:#50d4aa;
	text-shadow: 1px 1px #eee;
} 

.secInfo a:HOVER{
	color:#ff8040;
}


.rvList{
	border:2px solid #838383;
	border-radius:10px;
	margin:20px auto;
	padding:30px;
	width: 800px;
	height: auto;
	box-sizing:border-box;
}
#rv{
	/* border:1px solid #333; */
	margin:20px auto;
	width: 800px;
	height: auto;
	box-sizing:border-box;
	padding:10px;
}
 
/* #rvrv{
	border:1px solid #333;
	margin:10px auto;
	padding: 10px;
} */

.myFavMovie{
	padding:10px 5px 10px 5px;
	height: 400px;
/* 	height: 450px; */
}
.mvList{
/* 	border:1px solid #333; */
	margin:20px auto;
	width: 900px;
	height: 300px;;
	/* box-sizing:border-box; */
}

.mvList div{
	float:left;
	margin: 10px 2px;
	text-align: center;
}



