@CHARSET "UTF-8";

*{
	padding: 0;
	margin: 0;
	font-family: 'Nanum Gothic', sans-serif;}

.clear {clear: both;}

body{
	height: auto;
}

article{
	/* border:1px solid red;  */
	padding:50px;	
	height: auto;
	width:1910px;
	background-color: #72bcc4;
}



/* ################전체레이아웃################ */

.all{
	border: 1px solid #e8e8e8;
	background-color:#f3f7f8;
	border-radius:30px;
	width: 1000px;
	/* margin:50px auto;  */
	position:relative;
	top:100px; left:400px;
	margin-bottom:200px;
	box-shadow: 2px 2px #9f9f9f;
	padding:40px 70px;
}

.sec{
	border:1px solid #9f9f9f;
	border-bottom:2px dashed #333;
	background-color:white;
	border-radius:10px;
	margin: 20px auto;
	padding:20px;
}




/* ################프로필################ */

.myInfo{
	border-bottom:2px dashed #333;
	box-sizing:border-box;
	height: 350px;
	line-height:1.5em;
}

#pfName p{
	float: left;
	margin-left: 8px;
}

#pfName{
	position: relative;
    left: 350px;
    top: 15px;
}
#pfName p:nth-of-type(2){
	color:#ff8000;
	font-size: 0.8em;
}
#profile{
	text-align: center;
	font-weight: bold;
	font-size: 1.4em;
	position: relative;
	top:20px; left: -150px;
	line-height: 1.7em;
}

#info{
	font-size:1.2em;
	/* border:1px solid #333; */ 
	text-align: center;
	/* width:270px; */
	position: relative;
	top: -220px;
    left: 440px;
	line-height: 1.7em;
	text-align: center;
}

#info table{
	text-align: center;
	padding-bottom: 50px;
}
#info table tr th{
	font-size:1.2em;
	color:#50a4aa;
	/* border-right:1px dotted #333; */
	padding:10px 5px;
	text-align: center;
}
#info table tr td{
	font-weight:bold;
	padding:0 20px;
	text-align: left;
	width: 300px;
}

#info table tr:nth-of-type(1) td:HOVER{
	color: #ff8000;
	text-decoration: underline;
}

#info table tr:nth-of-type(2) td:HOVER{
	color: #ff8000;
	text-decoration: underline;
}


.FBtn {
	border:1px solid #808080;
	border-radius:5px;
	width:250px; height:35px;
	text-align:center;
	text-transform: uppercase;	
	background-color: white;
	position: relative;
	bottom: 200px; left:430px;
	font-size: 1.1em;
	letter-spacing: 2px;
	color: inherit;
	text-decoration: none;
}

.FBtn a {
	color: #333;
}

#myhome_follow {
/* 	색상 변경 */
	background-color: #50b4aa;
}

.FBtn:HOVER{
	border-color: #233285;
}
.FBtn:HOVER a, .FBtn a:HOVER{
	color:#ff8000;
}
.FBtn a:VISITED, .FBtn a:LINK{
	color:inherit;
	text-decoration: none;
}


/* ################ 리뷰 ################ */

.secInfo {
	font-size: 1.2em;
	font-weight: bold;
	position: relative;
	top:10px; left: 25px;
	/* float:left; */
}

.secInfo h3{
	font-family: sans-serif;
}

.secInfo a{
	position:relative;
	top:0px; left:660px;
	text-decoration: none;
}
.secInfo a:LINK, .secInfo a:VISITED{
	color:#50a4aa;
	text-shadow: 1px 1px #eee;
} 

.secInfo a:HOVER{
	color:#ff8040;
}


.rvList{
	border-top:1px solid #838383;
	border-bottom:2px solid #838383;
	/* border-radius:10px; */
	margin:10px auto;
	padding:20px;
	width: 760px;
	height: auto;
	box-sizing:border-box;
}
#rv{
	/* border:1px solid #333; */
	margin:20px auto;
	width: 760px;
	height: auto;
	box-sizing:border-box;
	padding:10px;
}

#rv p{
	padding-left: 10px;
}
 
#reviewTitle{
	font-size: 1.2em;
	font-weight: bold;
}



/* ################ 좋아하는 영화 ################ */
.myFavMovie{
	padding:25px 30px 10px 30px;
	height: 890px;
	margin:20 auto;
/* 	height: 450px; */
}
.mvList{
	/* border:1px solid #333; */
	width: 750px;
	height: 700px;;
	box-sizing:border-box;
	text-align: center;
	position: relative;
	top:20px;
	left: 50px; 
}

.noReviewContents{
	border:1px solid #c0c0c0;
	padding:40px;
	text-align: center;
	line-height:2.5em;
	font-size: 1.2em;
	/* font-weight: bold; */
}

.noFavContents{
	border:1px solid #c0c0c0;
	width: 720px;
	padding:250px 40px;
	margin-top:10px;
	text-align: center;
	line-height:2.5em;
	font-size: 1.2em;
	/* font-weight: bold; */
}

.mvList .favMovies{
	/* border:1px solid red; */
	float:left;
	margin: 20px 20px;
	text-align: center;
	line-height: 1.5em;
	font-size: 1.1em;
	/* font-weight: bold; */
}

.favMovies img{
	border:1px solid #a8a8a8;
}

.favMovies p{
	padding-top: 5px;
	font-size: 1.2em;
}




