@CHARSET "UTF-8";

.clear {
	clear: both;
}

/* 마이페이지 */
*{
	font-family: 'Nanum Gothic', sans-serif;
}

article{
	width: 1900px;
}
.mypage_follow {
	min-height: 800px;
	padding:0;	
}

.mypage_ {
/* 	border: 1px solid red; */
	height: 600px;
	padding:0;
	width: 1900px;
/* 	position: relative; */
}

.mypage_profile {border:1px solid #a0a0a0;
	border-radius:30px;
	margin: 0 auto 5px auto;
	padding: 50px;
	position: relative;
	left: 0px;
	top: 100px; 
	/* width:300px; */
	width:400px;
/* 	height: 180px; */
/* 	height: 480px; */
	height: 600px;
	box-shadow:5px 5px #a0a0a0;
}

.mypage_profile h2 {
	margin-left: 500px;
	padding: 20px;
	font-size: 1.5em;
	color:#333;
	font-weight: bold;
	position: relative;
	right: 520px;
	top: -40px; 
	text-transform: uppercase;
	font-family: sans-serif;
}

.follow {
	width: 330px;
	position: relative;
	top: -10px;
}

/* .photo img {
	border: 1px solid #999;
	border-radius: 50%;
	float: left;
} */


#profile>img{
	/* border: 1px solid #999; */
    border-radius: 50%;
    /* float: left; */
    /* margin-right: 10px; */
    position: relative;
    top: -20px;
    left:10px;
}

.follow_ul {
    /* border: 1px solid red; */
    /* margin-bottom: 10px; */
    list-style: none;
    display: inline-block;
    /* padding: 10px; */
    /* margin-left: 15px; */
    position: relative;
    top: -20px;
    left: 15px;
}

.follower, .follows {
	padding: 10px;
}
#ft{
	font-weight: bold;
	color: #50a4aa;
}
.follower a, .follows a {
	text-decoration: none;
	color: #333;
	font-size: 18px;
}

.follower span, .follows span {
/* 	border: 1px solid green; */
	margin-left: 20px;
}

.changeProf{
	border: 1px solid #eee;
    background: #eee;
    width: 100px;
    height: 20px;
    position: relative;
    left: 180px;
    top: -20px;
}
.changeProf p{
	width: 100px;
    height: 20px;
    position: absolute;
    /* top: -3px; */
    left: 8px;
    font-size: 0.8em;
}
.changeProf:HOVER{
	background-color: #ff8800;
}
.mypage_info {/* border:1px solid blue; */ 
	margin:100px auto 100px auto;
	width: 300px;
	position: relative;
	left: 20px;
	top: -100px;
	text-align: center;
}

.mypage_info th{
	font-weight: bold;
	color:#50a4aa;
	font-size: 1.2em;
	text-align: center;
	width: 80px;
}
.mypage_info td {
	padding: 20px;
	color: #333;
	font-size: 1em;
	letter-spacing: 0.5px;
}


.update_btn, .delete_btn {
    background-color: #50a4aa;
    border-radius: 20px;
    /* width: 160px; */
    width: 120px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    /* margin-left: 60px; */
    /* margin-top: 50px; */
    font-size: 17px;
    color: #fff;
    letter-spacing: 2px;
    position: relative;
    top: -160px;
    left: 15px;
    margin-right: 20px;
}

.btn:HOVER{background-color: #ff8800;font-weight: bold;}

.delete_btn {
	float: right;
}

/* 비밀번호 체크 페이지 */

.mypage_profile .pw_check {
	border: 1px solid red;
	width: 300px;
	margin-left: 500px;
	padding: 20px;
	font-size: 1.5em;
	color:#333;
	font-weight: bold;
	position: relative;
	right: 520px;
	top: -40px; 
	text-transform: uppercase;
	font-family: sans-serif;
}

.mypage_profile2 {border:1px solid #a0a0a0;
	border-radius:30px;
	margin: 80px auto 5px auto;
	padding: 50px;
	position: relative;
	left: 0px;
	top: 100px; 
	width:300px;
	height: 150px;
/* 	height: 280px; */
	/* box-shadow:5px 5px #a0a0a0; */
}

.mypage_profile2 h2 {
	margin-left: 500px;
	padding: 20px;
	font-size: 1.5em;
	color:#333;
	font-weight: bold;
	position: relative;
	right: 520px;
	top: -40px; 
	text-transform: uppercase;
	font-family: sans-serif;
	width: 300px;
}

.mypage_check {
/* 	border: 1px solid blue; */
/* 	margin-top: 20px; */
/* 	margin-left: 50px; */
	width: 260px;
	height: 40px;
	position: relative;
	top: -20px;
	padding-left: 10px;
}

.check_text {
	border: 2px solid white;
    background-color: #50a4aa;
    border-radius: 10px;
    width: 160px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin-left: 60px;
    margin-top: 20px;
    font-size: 17px;
    color: #fff;
    letter-spacing: 2px;
}
.check_text:HOVER{
	border:2px solid #c0c0c0;
}

/* 회원정보 수정 페이지 */

.mypage_update {border:1px solid #a0a0a0;
	border-radius:30px;
	margin: 80px auto 5px auto;
	padding: 50px;
	position: relative;
	left: 0px;
	top: 30px; 
	width:300px;
	height: 400px;
	/* box-shadow:5px 5px #a0a0a0; */
}

.mypage_update h2 {
	margin-left: 500px;
	padding: 20px 0px 0px 20px;
	font-size: 1.5em;
	color:#333;
	font-weight: bold;
	position: relative;
	right: 520px;
	top: -40px; 
	text-transform: uppercase;
	font-family: sans-serif;
	width: 230px;
}

.update {
/* 	border: 1px solid blue; */
/* 	margin-top: 20px; */
/* 	margin-left: 50px; */
	margin-bottom: 20px;
	width: 260px;
	height: 40px;
	padding-left: 10px;
}

.update_name {
	margin-bottom: 25px;
	margin-right: 10px;
	width: 180px;
	height: 40px;
	padding-left: 10px;
}

.name_text {
	background-color: #f1f1f1;
	border:2px solid #ccc;
    border-radius: 10px;
    width: 80px;
    height: 40px;
    text-align: center;
    line-height: 30px;
    margin-top: 20px;
    font-size: 14px;
    color: #333;
    /* letter-spacing: 2px; */
}
.name_text:HOVER{
	border:2px solid #808080;
}

.update_text, .update_text2 {
	background-color: #50a4aa;
    border: 2px solid #eee;
    border-radius: 10px;
    /* width: 160px; */
    width: 140px;
    /* height: 40px; */
    text-align: center;
    line-height: 40px;
    /* margin-left: 60px; */
    margin-top: 25px;
    font-size: 17px;
    color: #f9f9f9;
    letter-spacing: 2px;
}

.update_text2 {
	float: right;
}
.update_text:HOVER{
	border:2px solid #808080;
} 
.update_text2:HOVER{
	border:2px solid #808080;
}

/******************* 평점 내역 ********************/

.movie_wrap {
/* 	border: 1px solid red; */
	height: 1050px;
	padding:0;
}

.movie_star {
/* 	border: 1px solid blue; */
	padding: 50px;
	text-align: center;
}

.movie_star h2 {
	font-size: 30px;
	font-family: 'Nanum Gothic', sans-serif;
}

.movie_sec {
/* 	border: 1px solid red; */
	margin: 0 auto;
	position: relative;
}

.movie_sec_inner {
/* 	border: 1px solid orange; */
	display: inline-block;
	text-align: center;
	padding: 10px 40px;
	margin-left: 35px;
	margin-bottom: 20px;
}

.movie_sec_inner img {
	border: 1px solid #868686;
}

.star {
	margin-top: 15px;
}

.checked {
	color: orange;
}

span.star_rating {
	font-size: 30px;
	letter-spacing: 10px;
}

.prev_next {
	text-align: center;
}

.prev_next a {
	text-transform: capitalize;
	margin: 0 10px;
	font-size: 20px;
	text-decoration: none;
	color: #000;
}

/******************* 알람 ********************/

.mypage_alram h2 {
/* 	border: 1px solid red; */
	margin-left: 500px;
	padding: 20px;
	font-size: 1.5em;
	color:#333;
	font-weight: bold;
	position: relative;
	right: 520px;
	top: -40px; 
	text-transform: uppercase;
	font-family: sans-serif;
	width: 200px;
}

.mypage_alram {border:1px solid #a0a0a0;	 
	border-radius:30px;
	margin: 80px auto 5px auto;
	padding: 50px;
	position: relative;
	left: 0px;
	top: 50px; 
	width:800px;
/* 	height: 180px; */
	height: 300px;
	/* box-shadow:5px 5px #a0a0a0; */
}

.mypage_alram .prev_next {
	text-align: center;	
}

.mypage_alram .prev_next a {
	position: relative;
	top: 240px; 
	text-transform: capitalize;
	margin: 0 10px;
	font-size: 20px;
	text-decoration: none;
	color: #000;
	
}

.alram_info {
	
	margin:40px auto 20px auto;
	width: 820px;
	position: absolute;
	left: 40px;
	top: 50px;
	/* border-collapse: collapse; */
}

.alram_info th {
	
	height: 50px;
	letter-spacing: 0.5px;
	background-color: #afdde2;
	color: #333;
	border-radius: 20px 20px 0 0;
	/* border: 1px solid #333; */
}

.alram_info td {
	background-color: #e8e8e8;
    padding: 8px;
    color: #333;
    font-size: 0.9em;
    /* font-weight: bold; */
    /* letter-spacing: 1px; */
    text-align: center;
    height: 12px;
    /* border: 1px solid #333; */
}

.alram_info tr:LAST-CHILD td:ONLY-CHILD{
	border-radius: 0 0 20px 20px;
}
.mo {
	text-decoration: none;
	color:#ff8800;
	font-weight: bold;
}
.mo:HOVER {
	color:#6c6cff;
}
/******************* 쿠폰 ********************/

.mypage_coupon {border:1px solid #a0a0a0;
	border-radius:30px;
	margin: 80px auto 40px auto;
	padding: 50px;
	position: relative;
	left: 0px;
	top: 50px; 
	width:300px;
/* 	height: 180px; */
	height: 300px;
	/* box-shadow:5px 5px #a0a0a0; */
	margin-top: 100px;
}
.mypage_coupon .prev_next {
	text-align: center;	
}

.mypage_coupon .prev_next a {
	position: relative;
	top: 280px; 
	text-transform: capitalize;
	margin: 0 10px;
	font-size: 20px;
	text-decoration: none;
	color: #000;
	
}
.coupon_info {
	margin:50px auto 100px auto;
	width: 330px;
	position: absolute;
	left: 40px;
	top: 50px;
	/* border-collapse: collapse; */
	/* border: 1px solid #333; */
}

.coupon_info th {
	
	height: 50px;
	letter-spacing: 0.5px;
	background-color: #afdde2;
	color: #333;
}

.coupon_info td {
	background-color: #e8e8e8;
	padding: 20px;
	color: #333;
	font-size:0.9em;
	/* font-weight: bold; */
	letter-spacing: 1px;
	text-align: center;
	height: 15px;
}

.coupon_info th:FIRST-CHILD {
	border-radius: 20px 0 0 0;
} 

.coupon_info th:LAST-CHILD {
	border-radius: 0 20px 0 0;
}

.coupon_info tr:LAST-CHILD td:FIRST-CHILD {
	border-radius: 0 0 0 20px;
}

.coupon_info tr:LAST-CHILD td:LAST-CHILD {
	border-radius: 0 0 20px 0;
}

.coupon_info tr:LAST-CHILD td:ONLY-CHILD {
	border-radius: 0 0 20px 20px;
}
  




