@CHARSET "UTF-8";



.clear {
	clear: both;
}

/*전체 설정*/
*{
	margin:0;
	padding:0;
}


/*아티클 전체 설정*/

article{
	/* border:1px solid blue;  */ 
	width:1900px;
	height: auto;
	padding-top:55px;
}

.movie_wrap {
 	/* border: 1px solid red;  */  
	width:1900px;
	/* margin:0 auto; */
	height: auto;
	padding: 100px 0; 
	position: relative;
}

.movie_star {
    border: 2px dashed #cccccd;
    padding: 10px;
    text-align: center;
    font-size: 1em;
    line-height: 2em;
    font-weight:bold;
    margin: 20px 30px 80px 30px;
}

.movie_star p {
	font-size: 1.2em;
}

.movie_sec {
	/* border: 1px solid red; */
    /* margin: 0 auto; */
    position: relative;
    bottom: 70px;
    left: 85px;
    width: 1700px;
    /* margin: 70px 30px; */
    /* padding: 20px 0px; */
}
.movie_sec_inner {
/* 	border: 1px solid orange; */
	display: inline-block;
    text-align: center;
    padding: 10px 40px;
    /* margin-left: 30px; */
    margin-bottom: 50px;
}

.movie_sec_inner img {
	border: 1px solid #868686;
}

#noMoreMovie{
	border:1px solid #e5e5e5;
	background-color:#e5e5e5;
	border-radius:30px;
	margin: 50px auto;
	text-align: center;
	padding: 50px;
	font-size: 1.2em;
	font-weight:bold;
	font-family: 'Do Hyeon', sans-serif;
	margin-bottom: 100px;
	padding:50px;
	width: 700px;
	position: relative;
	top:0px;
}


/*이전 다음 버튼 디자인*/
.button{ /* border: 1px solid red;  */
	background-color: transparent;
	margin:0;
	padding:0;
	width: 60px;
	height: 60px;
	display: inline;
	box-shadow:none;
	box-sizing:border-box;	
} 
.button>img{
	opacity:0.5;
}


/**이전 다음 버튼 제어**/
.prev1{
	position: absolute;
    bottom: 650px;
    left: 20px;
}
.next1{
	position: absolute;
    bottom: 650px;
    left: 1770px;
}

.button img:HOVER {
	opacity:1;
/* 	width: 70px;
	height: 70px; */
}
/**이전 다음 버튼 제어 끝**/


