@CHARSET "UTF-8";
/* pay_result */
.state {/* border:solid 1px #333; */
	margin: 50px auto;	
	height:300px;
	width:700px;	
	box-shadow:5px 5px #333;
	border-radius:30px;	
	border-spacing: 0px; 
	margin-bottom: 80px; 
	margin-top: 120px;	
}


.list{
	/* border:1px solid #333; */
	margin: 50px auto;
	height:300px;
	width:700px;	
	box-shadow:5px 5px #333;
	border-radius:30px;
	border-spacing: 0px; 
	margin-bottom: 80px; 			
	
}

td {	border:1px solid #228c6a;	
	padding-left: 10px;
	font-size: 20px;		
}

th {background-color:#50d4aa;
	font-size: 25px;
	color:#14523e;
		border:1px solid #228c6a;
}

tr.bg_light th {
    background-color:#adebd7;
    font-size: 20px;
    height: 3rem;
    letter-spacing: 0.3rem;
	color:#228c6a;
    }

.radius_lt{	
	border-radius:30px 0 0 0 ;	}

.radius_rt{	
	border-radius:0 30px 0 0 ;	}

.radius_lb{
	border-radius: 0 0 0 30px ;	}

.radius_rb{
	border-radius: 0 0 30px 0;	}

.radius_ltrt{	
	border-radius:30px 30px 0 0 ;}

.radius_lbrb {
    border-radius: 0 0 30px 30px;	
    background-color:#50d4aa;	}

.tb_line {
    border-bottom : 1px dotted #ccc !important;
    border-top : 1px dotted #ccc !important;}
    
.bold_line { border-top: 3px solid #228c6a;
   border-bottom: 3px solid #228c6a;}

.lett_min { letter-spacing: -0.2rem; }
.lett_plus { letter-spacing: 1.2rem; }


.state td{
	padding-left: 30px;
}
.state a {
	text-decoration: none;
	color:#000;
	font-weight: bold;
}
.state a:HOVER {
	color:#228c6a;
	font-weight: bold;
}
.list td{text-align: center;}

.prev_next {
	text-align: center;	
}

.prev_next a {
	position: relative;
	bottom: 35px; 
	text-transform: capitalize;
	margin: 0 10px;
	font-size: 20px;
	text-decoration: none;
	color: #000;
	
}


/* pay */
.select {/* border:1px solid red; */
width:700px;
margin: 130px auto;	
height:150px;
margin-bottom: 50px;
}

th, td {
	magrin : 0 10px;
}
.coupon {		
	height:150px;
	width:700px;	
	box-shadow:5px 5px #333;
	border-radius:30px;	
	border-spacing: 0px; 
	margin-bottom: 80px; 
}

.radius {
	border-radius:30px 0 0 30px ;
}
.radius_2{
	border-radius:0 30px 30px 0 ;
}
.radius_2 select{
	/* border:1px solid red; */
	font-size: 25px;
	position: relative;
	left:75px;
}
.total {
	/* border:1px solid red; */
	width:700px;
	margin: 0px auto;	
	height:150px;
	margin-bottom: 50px;
}

.payment {
	height:150px;
	width:700px;	
	box-shadow:5px 5px #333;
	border-radius:30px;	
	border-spacing: 0px; 
	margin-bottom: 80px; 
}
.radius_3 {
	border-radius: 30px 0 0 0;
	padding:10px 76px;
}
.radius_4 {
	border-radius: 0 30px 0 0;	
}
.radius_4 #box{
	/* border:1px solid red; */
	position: relative;
	left:55px;
	height: 30px;
	font-size: 20px;
}
.radius_5{
	border-radius: 0 0 30px 30px ;
	padding : 15px 0;
}
.radius_5 input{
	display: none;
}
.radius_5 label{
	font-size: 25px;
	position: relative;
	left:300px;
	/* border:1px solid red; */
}
.radius_5 label:HOVER{
	color:#228c6a;
}
.to_money {
	padding:20px 0;
}
#amount {
	/* border:1px solid red; */
	text-align: center;
	font-size: 25px;
}



/* 해지하기버튼 */

#pcancel{
    position: relative;
    left: 1200px;
    top: -50px;
    border: 2px solid #228c6a;
    background-color: #adebd7;
    height: 40px;
    width: 100px;
    font-size: 16px;
    color: #14523e;
    font-weight: bold;
    border-radius: 10px;
}












