@CHARSET "UTF-8";
/* pay_result */

article{
	width: 1900px;
}
.state {/* border:solid 1px #333; */
	border: solid 1px #333; */
    margin: 50px auto;
    height: 300px;
    width: 700px;
    /* box-shadow: 5px 5px #333; */
    border-radius: 30px;
    border-spacing: 0px;
    margin-bottom: 80px;
    margin-top: 200px;
    position: relative;
    left: 600px;
}


.list{
	/* border:1px solid #333; */
	margin: 50px auto;
	height:300px;
	width:700px;	
	/* box-shadow:5px 5px #333; */
	border-radius:30px;
	border-spacing: 0px; 
	margin-bottom: 80px; 			
	
}

td {border:1px solid #333;	
	padding-left: 10px;
	font-size: 1em;		
}

.state tr:nth-of-type(2){
	color:#ff8800;
	font-weight: bold;
	font-size: 1.2em;
}

th {
	background-color: #afdde2;
    font-size: 1.2em;
    color: #455a64;
    border: 1px solid #455a64;
}

tr.bg_light th {
    background-color: #d8fbff;
    font-size: 1em;
    height: 3rem;
    letter-spacing: 0.3rem;
    color: #2d3940;
    }

.radius_lt{	
	border-radius:30px 0 0 0 ;	}

.radius_rt{	
	border-radius:0 30px 0 0 ;	}
.radius_rt span{font-weight: bold;}
.radius_lb{
	border-radius: 0 0 0 30px ;	}

.radius_rb{
	border-radius: 0 0 30px 0;	}

.radius_ltrt{	
	border-radius:30px 30px 0 0 ;}

.radius_lbrb {
    border-radius: 0 0 30px 30px;	
    background-color:#afdde2;	}

.tb_line {
    border-bottom : 1px dotted #ccc !important;
    border-top : 1px dotted #ccc !important;}
.tb_line:nth-of-type(2){
	font-weight: bold;
} 
.tb_line:nth-of-type(3){
	color:#ff8800;
	font-weight: bold;
} 
.bold_line {
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;}

.lett_min { letter-spacing: -0.2rem; }
.lett_plus { letter-spacing: 1.2rem; }


.state td{
	padding-left: 20px;
}
.state a {
	text-decoration: none;
	color:#ff8800;
	font-weight: bold;
}
.state a:HOVER {
	color:#800000;
	font-weight: bold;
}
.list td{text-align: center;padding: 0px;}

.prev_next {
	text-align: center;	
}

.prev_next a {
	position: relative;
	bottom: 35px; 
	text-transform: capitalize;
	margin: 0 10px;
	font-size: 20px;
	text-decoration: none;
	color: #000;
	
}


/* pay */
.select {/* border:1px solid red; */
width:700px;
margin: 180px auto;	
height:150px;
margin-bottom: 50px;
}

th, td {
	magrin : 0 10px;
}
.coupon {		
	height:150px;
	width:700px;	
	/* box-shadow:5px 5px #333; */
	border-radius:10px;	
	border-spacing: 0px; 
	margin-bottom: 80px; 
}

.radius {
	border-radius:30px 0 0 30px ;
}
.radius_2{
	border-radius:0 30px 30px 0 ;
}
.radius_2 select{
	/* border:1px solid red; */
	font-size: 1.1em;
	position: relative;
	left:75px;
}
.total {
	/* border:1px solid red; */
	width:700px;
	margin: 0px auto;	
	height:150px;
	margin-bottom: 100px;
}

.payment {
	height:150px;
	width:700px;	
	/* box-shadow:5px 5px #333; */
	border-radius:10px;	
	border-spacing: 0px; 
	margin-bottom: 80px; 
}
.radius_3 {
	border-radius: 30px 0 0 0;
	padding:10px 76px;
}
.radius_4 {
	border-radius: 0 30px 0 0;	
}
.radius_4 #box{
	/* border:1px solid red; */
	position: relative;
	left:55px;
	height: 30px;
	font-size: 1.1em;
}
.radius_5{
	border-radius: 0 0 30px 30px ;
	padding : 15px 0;
}
.radius_5 input{
	display: none;
}
.radius_5 label{
 	font-size: 1.2em;
    position: relative;
    left: 300px;
    color: #333;
    border: 2px solid #455a64;
    padding: 5px;
    font-weight: bold;
}
.radius_5 label:HOVER{
	 border: 2px solid #640000;
	 color:#ff8800;
}

.to_money {
	padding:20px 0;
}
#amount {
	/* border:1px solid red; */
	text-align: center;
	font-size: 1.2em;
	color:#ff8800;
	font-weight: bold;
	
}



/* 해지하기버튼 */

#pcancel{
    position: relative;
    left: 1200px;
    top: -50px;
    border: 2px solid #ddd;
    background-color: #ff8800;
    height: 40px;
    width: 100px;
    font-size: 16px;
    color: #2d3940;
    font-weight: bold;
    border-radius: 10px;
}
#pcancel:HOVER {
	border:2px solid #333;
}











