@CHARSET "UTF-8";

.clear {
	clear: both;
}

/******************* 취향분석 ********************/


.movie_wrap {
 	/* border: 1px solid red; */  
	width:1900px;
	margin:0 auto;
	height: 1300px;
	padding: 100px 0;
}

.movie_star {
    border: 2px dashed #cccccd;
    padding: 10px;
    text-align: center;
    font-size: 1em;
    line-height: 2em;
    font-weight:bold;
    margin: 20px 30px 50px 30px;
}

/* .movie_star h2 {
	text-decoration: none;
	font-size: 30px;
	color: #333;
} */

.movie_sec {
	/* border: 1px solid red; */
    margin: 0 auto;
    position: relative;
    margin: 70px 30px;
    /* padding: 20px 0px; */
}
.movie_sec_inner {
/* 	border: 1px solid orange; */
	display: inline-block;
    text-align: center;
    padding: 10px 40px;
    margin-left: 30px;
    margin-bottom: 50px;
}

.movie_sec_inner img {
	border: 1px solid #868686;
}

.star {
	margin-top: 15px;
}

fieldset.rating {
/* 	border: 1px solid blue; */
	width: 220px;
}

.checked {
	color: orange;
}

span.star_rating {
	font-size: 30px;
	letter-spacing: 10px;
}

.movie_refresh {
	/* border: 1px solid red; */
	width: 150px;
	margin: 40px auto;
	text-align: center;
	/* position: relative;
	top:10px; left:860px; */
}

.movie_refresh a {
	text-decoration: none;
	font-size: 64px;
	color: #333;
}

.movie_refresh a:HOVER {
	color: #ff8000;
}

#noMoreMovie{
	border:1px solid #e5e5e5;
	background-color:#e5e5e5;
	border-radius:30px;
	margin: 50px auto;
	text-align: center;
	padding: 50px;
	font-size: 1.2em;
	font-weight:bold;
	font-family: 'Do Hyeon', sans-serif;
	margin-bottom: 100px;
	padding:50px;
	width: 700px;
}
