@CHARSET "UTF-8";

.clear {clear: both;}


/************** 서브메뉴바 **************/

.menu{
	border-bottom: 2px solid #50a4aa;
	position: relative;
	top:170px; left:100px;
	width:240px;
	text-align: right;
	padding: 5px;
	font-weight: bold;
	font-size: 1.2em;
}


#menu_bar {
	/* border:1px solid red;  */
	width: 250px;	
	margin: 180px 150px 0 110px;
	float: left;
	font-size: 20px;
	text-align: right;
	padding-top: 40px;
}

#menu_bar ul {
	list-style: none;
}

#menu_bar ul li a {
	width: 180px;
	text-decoration: none;
	display: block;
	padding: 15px;
	background-color: #aad3d7;
	border-radius: 40px;
	color: #000;
	font-weight:bold;
	letter-spacing: 0.2px;
	margin-bottom: 50px;
	text-align: center;
}

#menu_bar ul li a:HOVER {
	background-color: #50a4aa;
}




/************** vip관리자 메인 **************/

.adminTitle{
	border:1px dashed #50a4aa;
	background-color:#eee;
	border-radius:5px;
	text-align: center;
	padding:5px;
	display: inline-block;
	height:50px;
	position: relative;
	left: 200px; bottom:500px;
	padding:10px 20px;
	box-sizing:border-box;
	font-size: 1.3em;
} 

.content{
	height: 1500px;
} 


#movie, #seat, #vipMember{border:1px solid #c0c0c0;  
	width: 1200px;
	height:auto;
	margin:0 auto;
	padding:15px;
	position: relative;
	bottom: 520px; left:200px;
	margin-bottom: 30px;
}

.content h1{
	font-size:1.4em;
	text-align: center;
	display: inline-block;
	padding: 10px;
	position: relative;
	bottom: 525px; left:500px;
	
}


/***영화 정보***/
	
.poster{
	border:1px solid #333;
	width:250px;
	position:relative;
	top:60px; left:130px;
	box-shadow:2px 2px #333;
}

.movie_info{
	/* border:1px solid red;  */
	color:#000000;
	/* text-shadow: 1px 1px #828282; */
	font-size: 1.2em;
	line-height: 1.7em;	
	width:700px; height:200px;
	position:relative;
	top:-290px; left:420px;
}

.movie_info p:nth-of-type(1){
	font-size: 1.6em; color:#000;
	padding-bottom:10px;
}
.movie_info p:nth-of-type(7){
	padding-top:15px;
	font-size: 0.8em;
}


/**좌석선택**/
#screen{
	color:#ffffff;
	background-color: #131313;
	width: 600px; height:20px;
	text-align:center;
	font-weight:bold;
	letter-spacing:15px;
	/* position: relative;
	top:100px; left:-150px;	 */
	margin:50px auto;
}

.seatTable{
	border: 2px solid #333;
	/* border-collapse: collapse; */
	/* height:200px; */
	text-align: center;
	font-size: 1.2em;
	padding: 30px;
	/* position: relative;
	top:80px; left:300px; */
	margin:0px auto;
	margin-bottom: 80px;
}
.seatTable td{
	border:none;
	width: 70px; height: 90px;
}
/* .seatUnselected>label{
	color:black;
} */
td .seatSelected{
	background-color:gray;
}

.radio {
	display: none; 
}

/* input:checked + p, .confirm_num{ 
	background-color:red;
	color: #000000;
	font-weight: bold;
}  */

/* #vipListBtn{
	border:1px solid #c0c0c0;
	border-radius:10px;
	width:200px; height: 30px;
	background-color: #dedede;
	text-align: center;
	padding-top:4px;
	box-sizing:border-box;
	position: relative;
	top:-30px; left:900px;
}

#vipListBtn a{
	text-decoration: none;
	color: #000;
}

#vipListBtn:HOVER{
	background-color: #aad3d7;
} */

.u_admin-notice-write {
	/*  border:1px solid red;  */
	margin:0 auto;
	position: relative;
	top:1100px;
	left: 430px; 
	width: 350px; height: 40px;
}



.wirtebtn {
	border:1px solid #333;
	border-radius:10px;
	/* background-color: #aad3d7; */
	/* border-radius: 30px; */
	/* font-weight:bold; */
	font-size:1.0em;
	color: #000;
	letter-spacing: 0.2px;
	width: 80px; height: 30px;
	padding: 3px;
}

.wirtebtn:HOVER {
	 background-color: #aad3d7;
}


/************** vip movie db list **************/
div#content {
	border: 1px solid orange; 
	margin-left: 300px;
	margin-top: 0px;
	width:1500px;height: 800px;
	position: relative;
	bottom:500px; left:150px;
}

div#content h1 {
	text-align: center;
	display: inline-block;
	position: relative;
	left: 0;
	top: -20px;
	font-size: 1.7em;
	letter-spacing: 2px;
	text-transform: capitalize;
	padding-bottom: 20px;
}

.vip_db_list {
	border-collapse: collapse;
	/* position: relative;
	top: 30px;
	left: -20px; */
	margin: 0 auto;
}

.vip_db_list th {
	border: 1px solid #b1b1b1;
	height: 50px;
	padding: 0px 20px;
	background-color: #333;
	/* letter-spacing: 0.3em; */
	color: white;
	font-size: 1.1em;
}

.vip_db_list td {
	border: 1px solid #b1b1b1;
	height: 50px;
	padding: 0px 10px;
	text-align: center;
	font-size: 1.0em;
}

.vip_db_list td a {
	text-decoration: none;
	color: #808080;
	font-weight: bold;
}
.vip_db_list td a:HOVER {
	text-decoration: none;
	color: #ff8040;
	font-weight: bold;
}

.prev_next {
	/* border: 1px solid red; */
	text-align: center;
	width:1300px;
	margin:0 auto;
	position: relative;
	top: 600px; left: -110px;
}

.prev_next a {
	text-transform: capitalize;
	margin: 0 10px;
	font-size: 20px;
	text-decoration: none;
	color: #000;
}





/************** vip movie content **************/

div#movieContent h1 {
	text-align: center;
	display: inline-block;
	position: relative;
	left: 0;
	top: -20px;
	font-size: 1.7em;
	letter-spacing: 2px;
	text-transform: capitalize;
	padding-bottom: 20px;
}

.movieContent {
	border: 1px solid orange;
	width: 50%;
	border-collapse: collapse;
	position: relative;
	bottom: 580px;
	left: 500px;
	padding: 0px;
}

.movieContent th {
	border: 1px solid #5e5e5e;
	height: 50px;
	padding: 0px 20px;
	background-color: #333;
	letter-spacing: 0.7em; 
	color: white;
	font-size: 1.2em;
	text-transform: uppercase;
}

.movieContent td {
	border: 1px solid #333;
	height: 50px;
	padding: 0 10px;
	text-align: center;
	font-size: 1.0em;
}

#needsPadding{
	text-align:justify;
	padding: 20px 20px 50px 30px;
	line-height: 1.7em;
	
}


/************** admin notice write **************/

.btn {
	width: 200px;
    position: relative;
    bottom: 590px;
    left: 1520px;
}

.btn a{
	border: 1px solid #eee;
	background-color: #eee;
	width: 100px;
	padding:10px;
	maring-right:20px;
	color:black;
	box-shadow:2px 2px #333;
}

.btn a:HOVER {
	box-shadow:2px 2px #333;
}
