@CHARSET "UTF-8";

.clear {clear: both;}


/************** 서브메뉴바 **************/

.menu{
	border-bottom: 2px double #ff8000;
	position: relative;
	top:170px; 
	left:-510px; 
	width:340px;
	text-align: right;
	padding: 5px;
	font-weight: bold;
	font-size: 1.2em;
	display: inline-block; 
}


#menu_bar {
	/* border:1px solid red;  */
	width: 250px;	
	margin: 180px 120px 0 110px;
	float: left;
	font-size: 20px;
	text-align: right;
	padding-top: 50px;
/* 	padding-right: 30px; */
}

#menu_bar ul {
	list-style: none;
}

#menu_bar ul li a {
	width: 180px;
	text-decoration: none;
	display: block;
	padding: 15px;
	/* background-color: #aad3d7; */
	border-radius: 30px;
	color: #000;
	font-weight:bold;
	/* letter-spacing: 0.2px;
	margin-bottom: 50px;
	text-align: center; */
}

#menu_bar ul li a:HOVER {
	background-color: #ff8000;
}




/************** vip관리자 메인 **************/

.content{
	height: auto;
	width:1500px;
	position: relative;
}

.adminTitle{
	border:1px dashed #50a4aa;
	background-color:#eee;
	border-radius:5px;
	text-align: center;
	padding:5px;
	display: inline-block;
	height:50px;
	position: relative;
	left: 540px; 
	bottom:303px;
	padding:10px 20px;
	box-sizing:border-box;
	font-size: 1.3em;
} 


#movie, #seat, #vipMember{border:1px solid #c0c0c0;  
	width: 1200px;
	height:auto;
	margin:0 auto;
	padding:15px;
	position: relative;
	bottom: 300px; left:410px;
	margin-bottom: 30px;
}



/***영화 정보***/
	
.poster{
	border:1px solid #333;
	width:250px;
	position:relative;
	top:60px; left:130px;
	box-shadow:2px 2px #333;
}

.movie_info{
	/* border:1px solid red;  */
	color:#000000;
	/* text-shadow: 1px 1px #828282; */
	font-size: 1.2em;
	line-height: 1.7em;	
	width:700px; height:200px;
	position:relative;
	top:-290px; left:420px;
}

.movie_info p:nth-of-type(1){
	font-size: 1.6em; color:#000;
	padding-bottom:10px;
}
.movie_info p:nth-of-type(7){
	padding-top:15px;
	font-size: 0.8em;
}


/**좌석선택**/
#screen{
	color:#ffffff;
	background-color: #131313;
	width: 600px; height:20px;
	text-align:center;
	font-weight:bold;
	letter-spacing:15px;
	/* position: relative;
	top:100px; left:-150px;	 */
	margin:50px auto;
}

.seatTable{
	border: 2px solid #333;
	/* border-collapse: collapse; */
	/* height:200px; */
	text-align: center;
	font-size: 1.2em;
	padding: 30px;
	/* position: relative;
	top:80px; left:300px; */
	margin:0px auto;
	margin-bottom: 80px;
}
.seatTable td{
	border:none;
	width: 70px; height: 90px;
}
/* .seatUnselected>label{
	color:black;
} */
td .seatSelected{
	background-color:gray;
}

.radio {
	display: none; 
}

.u_admin-notice-write {
	/*  border:1px solid red;  */
	margin:0 auto;
	position: relative;
	top:1100px;
	left: 430px; 
	width: 350px; height: 40px;
}



.wirtebtn {
	border:1px solid #333;
	border-radius:10px;
	/* background-color: #aad3d7; */
	/* border-radius: 30px; */
	/* font-weight:bold; */
	font-size:1.0em;
	color: #000;
	letter-spacing: 0.2px;
	width: 80px; height: 30px;
	padding: 3px;
}

.wirtebtn:HOVER {
	 background-color: #aad3d7;
}


/************** vip movie db list **************/

.dblistTitle{
	border:1px dashed #50a4aa;
	background-color:#eee;
	border-radius:5px;
	text-align: center;
	padding:5px;
	display: inline-block;
	height:50px;
	position: relative;
	left: 40px; 
	bottom:0px;
	padding:10px 20px;
	box-sizing:border-box;
	font-size: 1.3em;
} 

div#content {
	/* border: 1px solid orange;  */
	margin-left: 300px;
	margin-top: 0px;
	width:1500px;height: 800px;
	position: relative;
	bottom:300px; left:195px;
}

.vip_db_list {
	border-collapse: collapse;
	position: relative;
	top: 30px;
	left: 40px; 
	/* margin: 0 auto; */
}

div#content p{
	position: relative;
	top:10px;left:40px;
}

.vipmain {
	border-collapse: collapse;
/* 	position: relative;
	top: 30px;
	left: 0px;  */
	margin: 0 auto; 
	margin-bottom: 100px;
}

.vip_db_list th {
	border: 1px solid #fff;
	height: 50px;
	padding: 0px 20px;
	background-color: #646464;
	letter-spacing: 0.1em;
	color: white;
	font-size: 1.1em;
	padding: 0px 5px 0px 5px;
	text-align: center;
}

.vip_db_list td {
	border: 1px solid #b1b1b1;
	height: 50px;
	padding: 0px 10px;
	text-align: center;
	font-size: 1.0em;
}

.vip_db_list td a {
	text-decoration: none;
	color: #808080;
	font-weight: bold;
}
.vip_db_list td a:HOVER {
	text-decoration: none;
	color: #ff8040;
	font-weight: bold;
}

.prev_next {
	/* border:1px solid blue; */
	text-align: center;
	position: relative;
	width:1200px;
	bottom: -120px;
	left: 50px;
}

.prev_next a {
	/* border:1px solid red;
	text-transform: capitalize;
	margin: 0 10px;
	font-size: 1.1em; */
	text-decoration: none;
	color: #000;
} 

.thisPage {
	border:1px solid #c0c0c0;
	border-radius:5px;
	padding:5px;
	margin: 0 2px;
	font-size: 1.1em;
	text-decoration: none;
	color: #ff8000;
	font-weight: bold;
}

.normalPage{
	/* border:1px solid #c0c0c0;
	border-radius:5px; */
	/* padding: 2px; */
	margin: 0 2px;
	font-size: 1.1em;	
	color: #000;
}





/************** vip movie content **************/

.movieContent {
	/* border: 1px solid orange; */
	width: 50%;
	border-collapse: collapse;
	position: relative;
	bottom: 300px;
	left: 530px;
	padding: 0px;
}
.movieContent input{
	width: 100%; height: 100%;
	padding:5px;
	border: none;
}
.movieContent th {
	border: 1px solid #fff;
	height: 50px;
	background-color: #646464;
	letter-spacing: 0.1em;
	color: white;
	font-size: 1.1em;
	padding: 0px 5px 0px 5px;
	text-align: center;
	text-transform: uppercase;
}

.movieContent td {
	border: 1px solid #333;
	height: 50px;
	padding: 0 10px;
	text-align: center;
	font-size: 1.0em;
}

#needsPadding{
	text-align:justify;
	padding: 20px 20px 50px 30px;
	line-height: 1.7em;
	
}


/************** admin notice write **************/

.vip_movie_btn {
	/*  border:1px solid red;  */
	margin:0 auto;
	position: relative;
	top:-200px;
	left: 730px; 
	width: 350px; height: 40px;
}

.vip_movie_btn_modi {
	/*  border:1px solid red;  */
	margin:0 auto;
	position: relative;
	top:-200px;
	left: 520px; 
	width: 350px; height: 40px;
}

.vip_movie_btn a{
	text-decoration: none;
}

.vip_movie_btn a:LINK, .vip_movie_btn a:VISITED{
	color:#333;
}

.wirtebtn {
	border:1px solid #50a4aa;
	border-radius:10px;
	/* background-color: #aad3d7; */
	/* border-radius: 30px; */
	/* font-weight:bold; */
	font-size:1.0em;
	color: #000;
	letter-spacing: 0.2px;
	width: 90px; height: 40px;
	padding: 5px;
	font-weight: bold;
}

.wirtebtn:HOVER {
	 background-color: #aad3d7;
}
